<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--valeur qui est utilisée comme référence au zoom. Celle-ci donne le zoom minimum également.-->
      <add key="ZoomMaxValueReference" value="10"/>
      <!--Donne la résolution de base qui est associté avec ZoomMaxValueReference, par defaut c'est 1920*1080 = 2073600-->
      <add key="srcReference" value="2073600"/>
      <!--vitesse des déplacement sur les axes X et Y sur la grosse image-->
      <add key="speedScroll" value="0.1"/>
      <!--La force du zoom. Le zoom est obtenu par un changement d'échelle avec comme valeur la taille précédante mutliplié par zoomForce-->
      <add key="zoomForce" value="1.015"/>
      <!--coefImageSizeZoom est une valeur utilisé dans le calcul du zoom maximum lors d'image qui dépasse srcReference. Si vous désirer pouvoir zoomer + sur les
      grandes images, alors mettez une plus grande valeur.-->
      <add key="coefImageSizeZoom" value="3"/>
      <!--Device par défaut utilisé, dans le cas au device n'est pas trouvé [Tribe xor Tobii]-->
      <add key="defaultDevice" value="Tobii"/>
      <!--[Tobii xor Tribe]-->
      <add key="device" value="Tobii"/>
      <!--paramètre pas pris en compte actuellement-->
      <add key="numberOfImages" value="5"/>
      <!--la longueur des images dans la listView-->
      <add key="imagesW" value="200"/>
      <!--la largeur des images dans la listView-->
      <add key="imagesH" value="150"/>
      <!--dossier par défaut-->
      <add key="defaultPath" value="%HOMEDRIVE%\\%HOMEPATH%\\Pictures"/>
      <!--Liste des dossier, doit être séparer par un \n (ou \r\n). Il est possible d'utiliser les variables d'environnements-->
      <add key="listDossiers" value="
           %HOMEDRIVE%\\%HOMEPATH%\\Pictures
           C:\\images3
           C:\\imagesBig
           D:\\image1"/>
    </appSettings>
</configuration>