<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ZoomMaxValueReference" value="10"/>
      <add key="srcReference" value="2073600"/>
      <add key="speedScroll" value="0.1"/>
      <add key="zoomForce" value="1.015"/>
      <add key="coefImageSizeZoom" value="3"/>
      <add key="useTobii" value="true"/>
    </appSettings>
</configuration>